/* all common css start here */
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

/* all common css end here */
/* navbar css done here */
.navbar-nav {
  margin-right: 50px;
}
.navbar-nav li {
  margin-left: 30px;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
/* banner css done here */
#banner_part {
  padding: 124px 0 70px;
}
.banner_text h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #21243d;
  margin-top: 30px;
  width: 506px;
  line-height: 60px;
}
.banner_text p {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
  margin: 45px 0 35px;
  line-height: normal;
  width: 497px;
}
.banner_text button {
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 20px;
  height: 50px;
  width: 200px;
  background-color: #ff6464;
  border: none;
  margin-bottom: 20px;
  border-radius: 4px;
}
.banner_right {
  width: 418px;
  align-items: center;
}
.banner_img {
  position: relative;
}
.banner_img .circle {
  position: absolute;
  top: 12px;
  left: -8px;
  z-index: -2;
}
/* blog part */
#blog_part {
  padding-bottom: 45px;
  background-color: #edf7fa;
}
.recent h3 {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}
.left_card {
  padding: 24px 23px;
  background-color: #ffffff;
}
.left_card h3 {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 17px;
}
.left_card h4 {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 20px;
}
.left_card p {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}
.recent_view h3 {
  color: #00a8cc;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  line-height: 60px;
  margin-top: 8px;
}

/* featured part css start here */
#work_part {
  padding: 35px 0 83px;
}
.images img {
  width: 100%;
  padding-bottom: 10px;
}
.images {
  margin-top: 35px;
}
.work_text button {
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-style: normal;
  background-color: #142850;
  padding: 3px 7px;
  border-radius: 16px;
  margin-right: 10px;
}

.work_text {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
  margin-top: 96px;
}
.work_text p {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  width: 595px;
  margin-top: 27px;
  line-height: normal;
}
.work_text span {
  color: #8695a4;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.top_text h5 {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  margin-top: 40px;
}
.line {
  padding: 1px 0;
  background-color: #e0e0e0;
  margin-top: 25px;
}

/* footer css done here */
.footer_text {
  color: #21243d;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 54px;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}
.footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.footer_icon {
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer_icon i {
  margin-right: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.linkdin i {
  margin-right: 0;
}
